
  h1, h2 {
    color: rgb(43, 15, 154); /* Add this line to see if the text color is applied */
  }
  .mypara{
    line-height: 1.8;
    background-color: lightblue;
  }
  .about{
    padding: 60px;
  }